<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">
    <%= auth_token %>
    
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    <% end %>
    
    <label>Username: 
        <input type="text" name="user[username]"></input>
    </label>
    <label>Password: 
        <input type="password" name="user[password]"></input>
    </label>
    <input type="submit" value="Sign In"></input>
</form>