/* PHASE 1: Header */

body {
  /* Write your css here... */
  width: 80%;
  display: block;
  margin: auto;
}

.header {
  flaot: left;
  position: absolute;
  width: 100%;
}

.header a {
  font-size: 20px;
  margin: 20px, 15px;
  color: #fff;
}

.header-nav {
  width: 100%;
  background-color: red;
}