/* PHASE 2: Navigation */

.header-logo {
    width 50px;
    float: left;
    position: absolute;
}

.header-logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header-list {
    color: #555;
    padding: 10px;
}

.header-list > li {

}

.header-list > li:hover {

}