<h2>Links Index</h2>

<a href="<%= new_link_url %>">New Link</a>
<ul>
    <% @links.each do |link| %>
        <li><%= link.url %></li>
        <a href="<%= link_url(link) %>"><%= link.title %></a>
    <% end %>
</ul>