/* PHASE 3: Layout */


.content {
    display: flex;
    width: 900px;
    min-height: 200px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid lightgray;
}

.content-sidebar {
    width: 200px;
    padding: 20px;
    min-height: 200px;
    background-color: white;
    border-right: 1px solid lightgray;
}

.content-main {
    width: 620px;
    padding: 10px;
    min-height: 200px;
    background-color: white;
}